﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>欠费信息传上传</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link href="../../js/jquery-easyui-1.3.4/themes/default/easyui.css" rel="stylesheet"
        type="text/css" />
    <link href="../../js/jquery-easyui-1.3.4/themes/icon.css" rel="stylesheet" type="text/css" />
    <script language="javascript" src="../../js/jquery-1.8.3.js" type="text/javascript"></script>
    <script language="javascript" src="../../js/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script language="javascript" src="ArrearageUpload.js" type="text/javascript"></script>
    <script src="../../js/jquery-easyui-1.3.4/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../../js/jquery-easyui-1.3.4/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <style type="text/css">
        body
        {
            margin: 1px !important;
        }
        .fitem
        {
            height: 50px;
            margin-bottom: 20px;
        }
        .fitem label
        {
            float: right;
            display: inline-block;
            width: 80px;
        }
        .myedit
        {
            height: 50px;
        }
        .myedit input
        {
            width: 300px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <table id="dg" class="easyui-datagrid">
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
            onclick="addDlg('add')">添 加</a> <a href="javascript:void(0)" class="easyui-linkbutton"
                iconcls="icon-edit" plain="true" onclick="addDlg('edit')">编 辑</a> <a href="javascript:void(0)"
                    class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del()">删 除</a><a
                        href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true"
                        onclick="Release()">发 布</a>
    </div>
    <div id="dlg" iconcls="icon-add" class="easyui-dialog" style="width: 550px; height: 320px;
        padding: 15px; background-color: #f4f5f9">
        <form id="fm" method="post" novalidate enctype="multipart/form-data">
        <table>
            <tr>
                <td class="fitem" style="width: 150px;">
                    <label>
                        标 题:</label>
                </td>
                <td class="myedit">
                    <input name="title" type="text" id="title" />
                </td>
            </tr>
            <tr>
                <td class="fitem" style="width: 150px;">
                    <label>
                        文件月份:</label>
                </td>
                <td class="myedit">
                    <input name="month" type="text" id="month" class="Wdate" onfocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy-MM',minDate:'{%y-3}-%M',maxDate:'%y-%M'})" />
                </td>
            </tr>
            <tr>
                <td class="fitem">
                    <label>
                        文 件：</label>
                </td>
                <td class="myedit">
                    <input name="Exclefile" type="file" id="Exclefile" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()"
            style="width: 90px">保 存</a> <a href="javascript:void(0)" class="easyui-linkbutton"
                iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width: 90px">
                取 消</a>
    </div>
</body>
</html>
